extends templates/layout

block variables
    - var title = 'ImprovingU'

block content
    .call-to-action
        h1 ImprovingU
        p.lead
            | Show your 
            span.text-dedication dedication
            | . Get 
            span.text-involvement involved
            | . Share your 
            span.text-excellence excellence
            | .
        img(src="/public/Logo.png", alt="ImprovingU Logo")

block scripts
    // Placed at the end of the document so the pages load faster
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script.
        window.jQuery || document.write('<script src="/bower_components/jquery/dist/jquery.min.js"><\\/script>')
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="/bower_components/js-cookie/src/js.cookie.js")
    script(src="/bower_components/knockout/dist/knockout.js")
    script(src="/public/offices.js")
    script.
        ko.applyBindings(new OfficeViewModel());
