extends templates/layout

block variables
    - var title = 'ImprovingU'

block content
    .call-to-action
        .row
            .col-md-4.col-md-offset-2.container
                img.pull-left(src="/public/Logo.png", alt="ImprovingU Logo")
                h1
                    | ImprovingU
                p.lead
                    | Fall 2017 Semester
            .col-md-4
                h2 August 21
                p Share your ideas
                h2 September 5
                p Registration opens
                h2 September 18
                p Classes begin
        .row
            .col-md-2.col-md-offset-5
                a.btn.btn-primary(href="/ideas", data-bind="attr: { href: '/ideas#' + office() }") Share your ideas

block scripts
    script(src="/public/offices.js")
    script(src="/js/app/config.js")
    script(src="/private/model.js")
    script(src="/private/user.js")
    script.
        ko.applyBindings(new UserViewModel());
