block variables
doctype html
html(lang="en")
    include ../includes/head
    body(data-bind="css: { error: status() == 'Error', saving: status() == 'Saving...' }")
        .container
            block content

        include ../includes/scripts
        block scripts
