body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.row-idea {
    padding: 4px 0px;
}
.row-idea:nth-child(even) {
    background-color: #eee;
}
.vote {
    border-width: 2px;
}
.vote.selected.btn-success {
    border-color: #145D16;
}
.vote.selected.btn-danger {
    border-color: #611B19;
}
.vote.selected.btn-warning {
    border-color: #9A6314;
}
.idea-title {
    font-weight: bold;
}
.idea-author {
    margin-left: 10px;
}