body {
    padding-top: 50px;
}
.call-to-action {
    padding: 40px 15px;
    text-align: center;
}
.text-involvement {
    color: #008800;
}
.text-dedication {
    color: #000088;
}
.text-excellence {
    color: #888800;
}
.row-idea {
    padding: 4px 0px;
}
.row-idea:nth-child(even) {
    background-color: #eee;
}
.vote {
    border-width: 2px;
    width: 3em;
}
.vote.selected.btn-success {
    border-color: #145D16;
}
.vote.selected.btn-danger {
    border-color: #611B19;
}
.vote.selected.btn-warning {
    border-color: #9A6314;
}
.idea {
    cursor: pointer;
}
.idea-title {
    font-weight: bold;
}
.idea-author {
    margin-left: 10px;
}
.idea-details-abstract-edit {
    height: 20em !important;
}