extends templates/layout

block variables
    - var title = 'ImprovingU Course Calendar'

block styles
    link(href='/bower_components/fullcalendar/dist/fullcalendar.css' rel='stylesheet')

block content
    h1
        | Calendar for: 
        span(data-bind="text: office")
    #calgary-calendar.fc.fc-ltr.fc-unthemed(data-bind="visible: office() === 'Calgary'")
    #college-station-calendar.fc.fc-ltr.fc-unthemed(data-bind="visible: office() === 'College Station'")
    #columbus-calendar.fc.fc-ltr.fc-unthemed(data-bind="visible: office() === 'Columbus'")
    #dallas-calendar.fc.fc-ltr.fc-unthemed(data-bind="visible: office() === 'Dallas'")
    #houston-calendar.fc.fc-ltr.fc-unthemed(data-bind="visible: office() === 'Houston'")
    #minneapolis-calendar.fc.fc-ltr.fc-unthemed(data-bind="visible: office() === 'Minneapolis'")

block scripts
    script(src="/bower_components/moment/min/moment.min.js")
    script(src="/bower_components/fullcalendar/dist/fullcalendar.js")
    script(src="/js/app/config.js")
    script(src="/private/model.js")
    script(src="/private/model-courses.js")
    script(src="/public/offices.js")
    script(src="/private/user.js")
    script(src="/private/calendar.js")
    script.
        ko.applyBindings(new CalendarViewModel());
